<div id="game" class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <form method="POST" action="{{ game.id }}">
                <div class="card">
                    <div class="card-header">
                        <h3 id="title" class="text-center mb-3">{{game.title}}</h3>
                    </div>
                    <div class="card-body">
                        {{>messages}}
                        <div class="form-group">
                            {{>questions}}
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>