<div class="container">
    <h2 class="text-center">Management View</h2>
    <br>
    <div class="row">
        <div class="col-8">
            <div>
                {{>exercise_listing}}
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <input style="width:80%" type="text" name="" placeholder="Search...">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="row" style="margin-top: 10px">
                <a class="btn btn-primary" href="/questionnaires/new">Create..</a>
            </div>
        </div>
    </div>
</div>